{% extends 'school/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Panel de inicio de sesión del administrador</h1>
  <p class="lead">Bienvenido al Sistema de Gestión Universitario.</p>
  <hr class="my-4">
  <p>    Seleccione cualquiera para continuar...</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="adminsignup" role="button">Regístrate</a>
    <a class="btn btn-success btn-lg" href="adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
